footer {
  margin-top: 50px;
  background-color: rgba(135, 131, 131, 0.5);
}

.footer-atas {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
  border-bottom: 1px solid rgb(216, 216, 216);
}

.footer-logo {
  font-size: 26px;
  font-weight: 500;
  color: rgb(96, 95, 95);
}

.footer-link {
  display: flex;
  gap: 20px;
  font-weight: bold;
  flex-wrap: wrap;
}

.footer-atas .icon {
  background-color: rgb(86, 85, 85);
  border-radius: 50%;
  width: 28px;
  padding: 5px;
  margin: 5px;
}

.footer-bawah {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  padding: 10px 0;
  margin-left: 4%;
}

.footer-bawah span {
  color: lightgray;
}

@media (max-width: 768px) {
  .footer-atas {
    padding-top: 80px;
    padding-bottom: 50px;
  }

  .footer-link {
    font-size: 14px;
  }

  .footer-bawah {
    font-size: 11px;
  }
}
